.app__scroll {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__scroll-arrow {
    font-size: 40px;
    background: transparent;
    color: var(--color-golden);
    border: none;
    cursor: pointer;
}