.approved {
  max-width: 800px;
}

.title-main-2 {
  line-height: 58px;
  font-size: 45px;
  font-weight: 700;
}
.title-main-3 {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

/* Features */

.align-self {
  align-self: center;
}

.green {
  color: #17a245;
}
.icon-text-style {
  padding: 3em;
  border: 1px solid var(--border-color-light);
}
.icon-color {
  background: linear-gradient(90deg, #095795 0%, #FC8817 51%, #FC8817 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa,
.fas {
  font-weight: 990;
}
.icon-text-style i {
  font-size: 40px;
  color: var(--theme-color);
}

/* Services Section */
.grey_bg {
  background: var(--light);
}

.w3l-features-4 .features4-grid {
  background: white;
  padding: 30px;
}

.w3l-features-4 .feature-images span {
  color: var(--theme-color);
  font-size: 35px;
}

.w3l-features-4 .features4-grid h5 a {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  color: var(--heading-color);
  margin: 30px 0 15px;
  display: inline-block;
}

.list_styled {
  list-style-type: disclosure-closed;
  text-align: left;
  padding-left: 30px;
}
.list_styled li {
  list-style-type: disclosure-closed;
  text-align: left;
  line-height: 32px;
}

@media screen and (max-width: 650px) {
  .title-main-2 {
    font-size: 30px;
    line-height: 40px;
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
